@font-face {
  font-family: "WAGURITTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.container {
  font-family: "WAGURITTF";

  width: 400px;
  height: 150px;
}

.primary-button {
  background-color: #ffaa40;
  transition: 200ms;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  width: 100%;
  border: none;
  cursor: pointer;

  padding: 8px 0;
}

.primary-button:hover {
  transform: scale(1.01);
}

.number-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-bottom: 10px;
}

.number-input {
  width: 30px;
  border-radius: 8px;
  padding: 8px 4px;
  border: 1px solid rgb(204, 204, 204);
}

.header {
  padding: 10px;
  font-size: 20px;

  /* display: none; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  display: block;
  font-family: "WAGURITTF";
  font-size: 16px;

  color: rgb(15, 123, 230);

  text-decoration: none;

  text-align: center;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: underline;
}

.swal2-popup {
  width: 300px; /* 너비 조절 */
  height: 150px; /* 높이 조절 */
}

.swal2-icon {
  transform: scale(0.5);
  margin-top: 0;
  margin-bottom: 4px;
}

.swal2-title {
  padding-top: 0;
  font-size: 20px;
}
